

<body class = "hi">
</br></br>
<div class="sign">
<div class="logo"><%= image_tag("logo.png") %></div>
</br></br></br></br></br></br></br></br></br></br></br></br></br>
<h1 class="tool">A tool for web design inspiration</h1>	
</div>

<p class="sub">Quickly scroll through some of the webs most beautiful & functional designs</p>


</br></br>
<div class="sign">
<%= button_to "Next", website_path, :id => "btn",:class => "btn btn-primary btn-lg", :method => :get %></br></br>
  <%= link_to image_tag("fb.png"), user_facebook_omniauth_authorize_path%></br></br></br>
  <%= render "devise/sessions/form" %>

</div>
</body>
